{% set breadcrumbs = "Мужские часы" %}

<div class="breadcrumbs">
	<span><a class="breadcrumbs-link" href="./">{{breadcrumbs}}</a></span>
	<form class="column search__form breadcrumbs-form" action="">
		<input type="text" name="" id="search" placeholder="Поиск по каталогу">
		<div class="loop breadcrumbs-loop">
			<img class="loop_click" src="./images/loop.png" alt="">
		</div>
	</form>
</div>