<div class="leftblock">
	<h1 class="leftblock-title title">Предновогодняя распродажа лучших моделей G-shock</h1>
	<p class="leftblock-txt">Casio G-Shock – легендарные часы, максимально защищенные от любых видов агрессивного воздействия. Особая конструкция часов предохраняет механизм от повреждений. Дисплей защищен прочным минеральным стеклом. Каучуковые прокладки между корпусом и всеми важными деталями обеспечивают часам отличную защиту от влаги (20 АТМ).</p>
	<p class="leftblock-txt">Еще одна особенность часов — геометрия корпуса. Как бы часы не падали, на кварцево-электронный механизм воздействие будет минимальным, покрытие поглотит силу удара. Каждые часы проходят серьезные стрессовые испытания. В продажу поступают только те модели, что выдержали сертифицированную проверку — падение с высоты 10 метров и погружение на аналогичную глубину.</p>
	<div class="video-movie leftblock-movie">
		<iframe width="640" height="360" src="https://www.youtube.com/embed/F7REXX-ElqA" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
	</div>
	<p class="leftblock-txt">Casio G-Shock обладают массой функций. Кроме стандартного отображения времени и даты, в них есть мировое время, таймер, 5 мелодий будильника, автоматическая подсветка, календарь — в общей сложности 14 дополнительных функций. Часы отлично защищены от воздействия магнитных полей, что обеспечивает им непревзойденную точность.</p>
	{% include 'minicarousel/minicarousel.njk' %}
</div>