<div class="footer">
	<div class="container">
		<div class="footer__logo">
			<a class="footer__logo_link" href="./index.html">
				<img src="./images/time.png" alt="time66.ru - магазин часов">
			</a>
			<span class="footer__copy">&copy 2008-2015</span>
		</div>
		<div class="footer__link">
			<a class="footer__link_item" href="/">Бесплатная доставка по Екатеринбургу</a>
			<a class="footer__link_item" href="./contact.html">Контактная информация</a>
		</div>
		<div class="footer__time">
			<span class="footer__time_txt">Время работы</span>
			<span class="footer__time_bold">10:00-20:00</span>
		</div>
		<div class="footer__addr">
			<div class="footer-phone">
				<span class="footer-phone__numb">8 343
					<span class="footer-phone__numb_bold">201 66 23</span>
				</span>
			</div>
			<div class="footer-location">
				<div class="footer-location__txt">
					Екатеринбург, Радищева 1,<br> вход в &laquoГаламарт&raquo, цокольный этаж 
				</div>
			</div>
		</div>
	</div>
</div>