{% set else = [
	{
		"img":"./images/watch4.png",
		"title": "Cover <span>CO182.03</span>",
		"alt": "Cover CO182.03",
		"link": "#",
		"price": "24 690 &#8381",
		"buy": "Купить"
	},
	{
		"img":"./images/watch3.png",
		"title": "Casio <span>GA-100BW-1A</span>",
		"alt": "CCasio GA-100BW-1A",
		"link": "#",
		"price": "9 790 &#8381",
		"buy": "Купить"
	},
	{
		"img":"./images/watch2.png",
		"title": "Calvin Klein <span>K2G211.C1</span>",
		"alt": "Calvin Klein K2G211.C1",
		"link": "#",
		"price": "12 590 &#8381",
		"buy": "Купить"
	},
	{
		"img":"./images/watch1.png",
		"title": "Calvin Klein <span>K4D231.G6</span>",
		"alt": "Calvin Klein K4D231.G6",
		"link": "#",
		"price": "12 590 &#8381",
		"buy": "Купить"
	}
]%}

<div class="else">
	<div class="container">
		<div class="else__title title">
			<h3>С этим товаром смотрят:</h3>
		</div>
		<ul class="else__carousel">
			{% for item in else %}
				<li class="else__carousel_item">
					<a class="else__carousel_item-link" href="{{item.link}}">
						<img src="{{item.img}}" alt="{{item.alt}}">
						<div class="else__price">
							<span class="else__price_title">{{item.title}}</span>
							<span class="else__price_price">{{item.price}}</span>
							<span class="button else__price_button">{{item.buy}}</span>
						</div>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>