<div class="quest">
	<div class="container">
		<div class="quest-text">
			<div class="quest-text__title">
				<h3>Интернет-магазин Time66</h3>
			</div>
			<p class="quest-text__item">
				Однажды осенью матушка варила в гостиной медовое варенье а я, облизываясь, смотрел на кипучие пенки. Батюшка у окна читал Придворный Календарь, ежегодно им получаемый. Эта книга имела всегда сильное на него влияние: никогда не перечитывал он ее без особенного участия, и чтение это производило в нем всегда удивительное волнение желчи. Матушка, знавшая наизусть все его свычаи и обычаи, всегда старалась засунуть несчастную книгу как можно подалее, и таким образом Придворный Календарь не попадался ему на глаза иногда по целым месяцам. Зато, когда он случайно его находил, то бывало по целым часам не выпускал уж из своих рук.
			</p>
		</div>
		<form class="quest-form">
			<h3 class="quest-form__title">Отправить запрос</h3>
			<input class="quest-form__input" type="text" placeholder="Представьтесь">
			<input class="quest-form__input" type="text" placeholder="Ваш e-mail/Телефон">
			<textarea class="quest-form__text" name="" placeholder="Текст сообщения"></textarea>
			<button class="btn-send quest-form__btn">Отправить</button>
		</form>
	</div>
</div>